.label {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-bottom: var(--space-16);
  font-weight: var(--weight-emphasis);
}

.input {
  max-width: var(--file-input-max-width);
}
